<a href="https://colab.research.google.com/github/nawanemacano/Exercicios-Iniciantes/blob/main/Exercicios_Python_Iniciante.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercícios Operadores Matemáticos

Agora que vimos como utilizar os operadores, vamos resolver algumas equações.
<center><img alt="Math" width="35%" src="https://image.freepik.com/free-vector/people-budgeting-order-plan-personal-finance_53876-64613.jpg"></center>

#### Exercício 1

Calcule:
$$
\begin{aligned}
x & = 15 - 5 + 3^2 \\
\end{aligned}
$$

In [ ]:
# resposta

In [ ]:
#@title Solução
15 - 5 + (3**2)

#### Exercício 2

Calcule:

$$
\begin{aligned}
x & = 20 + 5  /  7 * 9 \\
\end{aligned}
$$

In [ ]:
# resposta

In [ ]:
#@title Solução
20+5/7 * 9

26.42857142857143

#### Exercício 3

Calcule:

$$
\begin{aligned}
x & = 17 * 3  - 4^2  / 3 \\
\end{aligned}
$$

In [ ]:
# resposta

In [ ]:
#@title Solução
(17*3) - (4**2 /3)

## Exercícios Tipos de Variaveis

Agora, vamos testar nosso conhecimento sobre as variáveis.

<center><img alt="Tipos" width="40%" src="https://image.freepik.com/free-photo/notebook-calculator-rubiks-cube-chalkboard_23-2147849672.jpg"></center>

#### Exercício 1

Crie uma variável do tipo `integer`, chamada x, e associe a ela sua idade.

In [ ]:
# resposta

In [ ]:
#@title Solução
x = 36

#### Exercício 2

Crie uma variável do tipo `float`, chamada y, e associe a ela o preço de uma barra de chocolate.

In [ ]:
# resposta

In [ ]:
#@title Solução
y = 2.99

#### Exercício 3
Crie uma variável do tipo `string`, chamada `nome` e associe a ela o seu nome.

In [ ]:
# resposta

In [ ]:
#@title Solução
nome = "Sigmoidal "

#### Exercício 4

Verifique o tipo das variáveis `x`, `y`, `nome`.

Dica: A função print vai ajudar a fazer tudo em uma célula só.

In [ ]:
# resultado

In [ ]:
#@title Solução
print('x:', type(x))
print('y:', type(y))
print('nome:', type(nome))

#### Exercício 5

Crie uma variável que seja que calcule o ano em que você nasceu, utilizando operadores matemáticos e sua variável `x`.

In [ ]:
# resultado

In [ ]:
#@title Solução
x = 2020 - x
print(x)

### Exercício 6

Crie uma variável para o preço de 3 barras de chocolate, usando a variável `y`.

In [ ]:
# resultado

In [ ]:
#@title Solução
y = y * 3
print(y)

### Exercício 7
Crie uma variável que contenha o seu nome 10 vezes, utilizando a variável `nome`.

In [ ]:
# resultado

In [ ]:
#@title Solução
nome = 'Carlos'
nome = nome * 10
print(nome)

## Exercícios Numeros: Int vs Float

Agora que vimos um pouco mais sobre inteiros e floats, vamos praticar um pouco.

<center><img width="40%" src="https://image.freepik.com/free-photo/business-women-signature-document_1388-90.jpg
"></center>

#### Exercício 1
Transforme o resultado a divisão de inteiros em inteiro.

$$
\begin{aligned}
x & = 25 / 5
\end{aligned}
$$

In [ ]:
# resposta

In [ ]:
#@title Solução
x = 25/5
print('Resultado como float: ', x)
print('Tipo: ', type(x))
#transformando em int
x = int(x)
print('Resultado como integer: ', x)
print('Tipo: ', type(x))

#### Exercício 2
Use a função `type()` para descobrir os tipos das seguintes variáveis:

In [ ]:
# variáveis
x = 33
y = 33/3
z = 33.5

In [ ]:
# resposta

In [ ]:
#@title Solução
print(type(x))
print(type(y))
print(type(z))

#### Exercício 3
Usando as variáveis do exercício anterior, transforme todas elas em `int`.

In [ ]:
# resposta

In [ ]:
#@title Solução
x = int(x)
y = int(y)
z = int(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))

#### Exercício 4
Usando as variáveis do exercício anterior, transforme todas elas em `float`.

In [ ]:
# resposta

In [ ]:
#@title Solução
x = float(x)
y = float(y)
z = float(z)

# conferindo os tipos
print(type(x))
print(type(y))
print(type(z))